<div
  class="relative flex flex-col gap-4 p-8 md:flex-row"
  [class.gap-1]="errorMsg"
>
  <div class="relative md:grow">
    <input
      placeholder="Enter your link here"
      class="pe-18 w-full rounded-lg border px-6 py-4 text-lg outline-none hover:border-blue-500 focus:border-blue-500 active:border-blue-500"
      [ngClass]="{
        'border-green-500': !!successUrl && successUrl == inputUrl,
        'border-red-500': errorMsg,
        'pe-20': processing
      }"
      type="url"
      required
      [(ngModel)]="inputUrl"
      (keyup)="errorMsg = inputUrl == '' ? '' : errorMsg"
    />
    <app-spinner-icon
      class="absolute bottom-0 right-6 top-0 m-auto h-8 w-8 animate-spin text-teal-500 {{
        processing ? '' : 'hidden'
      }}"
    ></app-spinner-icon>
  </div>
  <span
    class="text-start text-red-500 md:absolute md:bottom-0"
    [class.hidden]="!errorMsg"
    >{{ errorMsg }}</span
  >
  <button
    class="app-btn md:w-[200px]"
    [disabled]="processing"
    (click)="short()"
  >
    {{ processing ? "Processing..." : "Shorten it!" }}
  </button>
</div>
