<header>
  <a href="/">Shortly</a>
  <nav>
    <ul>
      <li><a href="#">Features</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Sign Up</a></li>
    </ul>
  </nav>
</header>

<main>
  <article>
    <h1>More than just shorter links</h1>
    <p>
      Build your brand's recognition and get detailed insights on how your links
      are performing.
    </p>
    <p>
      <a href="#">Get Started</a>
    </p>

    <div>
      <form>
        <input placeholder="Enter your link here" />
        <button type="submit">Shorten it!</button>
      </form>
    </div>

    <div>
      <div>Your links</div>

      <div>
        <div>
          <div>https://brimvoid.com</div>
          <div>https://re.link/aaa</div>
          <div><button>Copy</button></div>
        </div>
      </div>
    </div>

    <article>
      <h2>Advanced Statistic</h2>
      <p>
        Track how your links are performing across the web with our advanced
        statistics dashboard.
      </p>

      <section>
        <h3>Brand Recognition</h3>
        <p>
          Boost your brand recognition with each click. Generic links don't mean
          a thing. Branded links help instil confidence in your content.
        </p>
      </section>
      <section>
        <h3>Detailed Records</h3>
        <p>
          Gain insights into who is clicking your links. Knowing when and where
          people engage with your content helps inform better decisions.
        </p>
      </section>
      <section>
        <h3>Fully Customizable</h3>
        <p>
          Improve brand awareness and content discoverability through
          customizable links, supercharging audience engagement.
        </p>
      </section>
    </article>

    <div>
      <p>Boost your links today</p>
      <p><a href="#">Get Started</a></p>
    </div>
  </article>
</main>

<footer>
  <div>Shortly</div>

  <div>
    <div>Features</div>
    <ul>
      <li>Link Shortening</li>
      <li>Branded Links</li>
      <li>Analytics</li>
    </ul>
  </div>

  <div>
    <div>Resources</div>
    <ul>
      <li>Blog</li>
      <li>Developers</li>
      <li>Support</li>
    </ul>
  </div>

  <div>
    <div>Company</div>
    <ul>
      <li>About</li>
      <li>Our Team</li>
      <li>Careers</li>
      <li>Contact</li>
    </ul>
  </div>

  <div>
    <ul>
      <li>
        <a href="#" target="_blank"
          ><img
            src="/assets/images/icon-instagram.svg"
            alt="Link to our Instagram account"
        /></a>
      </li>
      <li>
        <a href="#" target="_blank"
          ><img
            src="/assets/images/icon-pinterest.svg"
            alt="Link to our Pinterest account"
        /></a>
      </li>
      <li>
        <a href="#" target="_blank"
          ><img
            src="/assets/images/icon-twitter.svg"
            alt="Link to our Twitter account"
        /></a>
      </li>
      <li>
        <a href="#" target="_blank"
          ><img
            src="/assets/images/icon-facebook.svg"
            alt="Link to our Facebook account"
        /></a>
      </li>
    </ul>
  </div>
</footer>
