<header
  class="app-content relative flex h-[64px] items-center justify-between gap-8 md:h-[120px]"
>
  <a href="/" class="me-10 text-[32px] font-semibold text-gray-800">Shortly</a>

  <button
    class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 md:hidden"
    (click)="popupMenuVisible = !popupMenuVisible"
  >
    <app-menu-icon class="h-5 w-5"></app-menu-icon>
  </button>

  <div
    class="md:grow"
    [ngClass]="
      popupMenuVisible
        ? 'max-md:app-content left-0 top-[100%] z-10 w-full max-md:absolute'
        : 'max-md:hidden'
    "
  >
    <nav
      [ngClass]="
        popupMenuVisible
          ? 'rounded-lg max-md:bg-gray-800 max-md:text-center max-md:text-white'
          : ''
      "
    >
      <ul
        class="flex flex-col justify-around gap-8 py-12 text-[19px] md:flex-row md:items-center md:text-[20px] md:text-gray-500"
      >
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Resources</a></li>
        <li class="md:grow"><hr class="border-gray-600 md:hidden" /></li>
        <li><a href="#">Login</a></li>
        <li class="md:w-[150px]">
          <a href="#" class="app-btn-sign">Sign Up</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <div class="app-container overflow-x-hidden md:-mb-[520px] md:h-[520px]">
    <div class="app-content relative">
      <div class="md:absolute md:right-0 md:-z-10">
        <img
          src="/assets/images/illustration-working.svg"
          class="-mr-[100px] ml-auto h-[100%] w-auto max-md:h-[260px]"
        />
      </div>
    </div>
  </div>

  <article class="mt-8 text-center md:mt-[50px]">
    <div class="app-content">
      <div class="md:ml-0 md:w-[500px] md:text-start">
        <h1 class="mb-4 text-[42px] font-bold leading-tight md:text-[64px]">
          More than just shorter links
        </h1>
        <p class="mb-6 text-[20px] text-gray-500">
          Build your brand's recognition and get detailed insights on how your
          links are performing.
        </p>
        <p>
          <a href="#" class="app-btn-sign">Get Started</a>
        </p>
      </div>
    </div>

    <div
      class="app-container mt-12 bg-gradient-to-b from-transparent from-50% to-gray-100 to-50%"
    >
      <div class="app-content">
        <div
          class="mt-8 flex h-[200px] items-center justify-center rounded-lg bg-[url('/assets/images/bg-form.svg')] bg-cover"
        >
          <app-link-form class="block grow"></app-link-form>
        </div>
      </div>
    </div>

    <div class="app-container bg-gray-100 pt-8">
      <div class="app-content">
        <div class="text-start" [class.hidden]="!userLinks.length">
          <div class="mb-2 px-4 text-lg font-semibold text-gray-400">
            Your links
          </div>

          <ul class="flex flex-col justify-around gap-4">
            <ng-template ngFor let-link [ngForOf]="userLinks">
              <li
                class="app-card-white flex flex-col justify-between gap-2 md:flex-row md:items-center md:gap-8 md:px-8"
              >
                <div class="overflow-anywhere md:grow md:text-[20px]">
                  {{ link.url }}
                </div>
                <hr class="-mx-4 md:hidden" />
                <div class="text-lg text-teal-500 md:text-[22px]">
                  {{ link.shortUrl }}
                </div>
                <div>
                  <button
                    class="app-btn w-full md:w-[135px]"
                    (click)="copy(link)"
                  >
                    {{ link.copied ? "Copied" : "Copy" }}
                  </button>
                </div>
              </li>
            </ng-template>
          </ul>
        </div>

        <article class="mt-14 pb-10">
          <div class="m-auto md:w-[50%]">
            <h2 class="mb-3 text-[30px] font-semibold">Advanced Statistic</h2>
            <p class="text-[18px] text-gray-500">
              Track how your links are performing across the web with our
              advanced statistics dashboard.
            </p>
          </div>

          <div
            class="relative before:absolute before:bottom-0 before:left-0 before:right-0 before:top-0 before:m-auto before:block before:bg-teal-400 max-md:before:w-2 md:mt-14 md:flex md:flex-row md:items-center md:gap-8 md:before:h-2"
          >
            <section class="benefit">
              <div>
                <img src="/assets/images/icon-brand-recognition.svg" />
              </div>
              <h3>Brand Recognition</h3>
              <p>
                Boost your brand recognition with each click. Generic links
                don't mean a thing. Branded links help instil confidence in your
                content.
              </p>
            </section>
            <section class="benefit">
              <div>
                <img src="/assets/images/icon-detailed-records.svg" />
              </div>
              <h3>Detailed Records</h3>
              <p>
                Gain insights into who is clicking your links. Knowing when and
                where people engage with your content helps inform better
                decisions.
              </p>
            </section>
            <section class="benefit">
              <div>
                <img src="/assets/images/icon-fully-customizable.svg" />
              </div>
              <h3>Fully Customizable</h3>
              <p>
                Improve brand awareness and content discoverability through
                customizable links, supercharging audience engagement.
              </p>
            </section>
          </div>
        </article>
      </div>
    </div>

    <div
      class="flex h-[250px] items-center justify-center bg-cover max-md:bg-[url('/assets/images/bg-boost-mobile.svg')] md:bg-[url('/assets/images/bg-boost-desktop.svg')]"
    >
      <div>
        <p class="mb-6 text-[28px] font-semibold text-white md:text-[34px]">
          Boost your links today
        </p>
        <p><a href="#" class="app-btn-sign">Get Started</a></p>
      </div>
    </div>
  </article>
</main>

<div class="app-container bg-neutral-800">
  <footer
    class="app-content flex flex-col justify-between py-10 max-md:justify-between max-md:text-center md:flex-row"
  >
    <div class="mb-8 text-[28px] text-gray-100 md:w-[220px]">Shortly</div>

    <div class="flex flex-col gap-6 max-md:mb-8 md:flex-row md:gap-14">
      <div>
        <div class="mb-2 text-[18px] text-gray-100">Features</div>
        <ul class="text-[14px] text-gray-400 [&_li]:mb-2">
          <li>Link Shortening</li>
          <li>Branded Links</li>
          <li>Analytics</li>
        </ul>
      </div>

      <div>
        <div class="mb-2 text-gray-100">Resources</div>
        <ul class="text-[14px] text-gray-400 [&_li]:mb-2">
          <li>Blog</li>
          <li>Developers</li>
          <li>Support</li>
        </ul>
      </div>

      <div>
        <div class="mb-2 text-gray-100">Company</div>
        <ul class="text-[14px] text-gray-400 [&_li]:mb-2">
          <li>About</li>
          <li>Our Team</li>
          <li>Careers</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>

    <div>
      <ul
        class="mx-auto flex w-[220px] flex-row max-md:justify-between md:justify-end md:gap-6"
      >
        <li>
          <a href="#" target="_blank"
            ><img
              class="w-31 h-auto"
              src="/assets/images/icon-instagram.svg"
              alt="Link to our Instagram account"
          /></a>
        </li>
        <li>
          <a href="#" target="_blank"
            ><img
              class="w-31 h-auto"
              src="/assets/images/icon-pinterest.svg"
              alt="Link to our Pinterest account"
          /></a>
        </li>
        <li>
          <a href="#" target="_blank"
            ><img
              class="w-31 h-auto"
              src="/assets/images/icon-twitter.svg"
              alt="Link to our Twitter account"
          /></a>
        </li>
        <li>
          <a href="#" target="_blank"
            ><img
              class="w-31 h-auto"
              src="/assets/images/icon-facebook.svg"
              alt="Link to our Facebook account"
          /></a>
        </li>
      </ul>
    </div>
  </footer>
</div>
